@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primaryColor: #0a2751;
$secondaryColor: #d39844;
$disabled: #e7e9ec;
$whiteColor: #fff;
$textColor: #242424;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: $disabled;
}
.App {
  width: 100%;
  height: 100vh;
  background: $disabled;
}
.main {
  display: flex;
  flex-direction: row;
}
.table__wrapper {
  width: 100%;
  max-width: 82%;
  height: 100vh;
  max-height: 850px;
  background: white;
  border-radius: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 2em;
  overflow: auto;
}
.table__container__header {
  width: 100%;
  min-width: fit-content;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 50px;
}
.table__container__header__entry {
  width: fit-content;
  min-width: 180px;
  text-align: center;
  font-size: 14px;
  color: $whiteColor;
  font-weight: bold;
}
.entry__info__row {
  width: 100%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  margin-top: 1em;
  cursor: pointer;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}
.entry__info__row:hover {
  background: rgba(10, 39, 81, 0.1);
}
.entry__info__row__text {
  font-size: 14px;
  color: $textColor;
  width: fit-content;
  min-width: 180px;
  text-align: center;
}
.table__wrapper__heading {
  font-size: 22px;
  color: $textColor;
  font-weight: bold;
  margin-bottom: 1em;
}
.entry__info__row__text__img {
  width: 38px;
  height: 38px;
}
.entry__info__row__text a {
  position: relative;
  color: $secondaryColor;
  cursor: pointer;
}
.entry__info__row__text__message {
  position: absolute;
  background: $whiteColor;
  border: 1px solid $disabled;
  padding: 1em;
  width: 210px;
  color: $textColor;
  border-radius: 10px;
  display: none;
  z-index: 4;
}
.entry__info__row__text a:hover .entry__info__row__text__message {
  display: flex;
}
