@import "./global.scss";
.sidebar__container {
  width: fit-content;
  min-width: 300px;
  height: 88vh;
  background: $whiteColor;
  border-radius: 0px 50px 0px 0px;
  margin-right: 2em;
}
.sidebar__container__content {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
}
.sidebar__container__content__entry {
  position: relative;
  margin-top: 0.5em;
}
.sidebar__container__content__entry__input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
.nav__bar__content__link__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}
.nav__bar__content__link__content__svg__wrapper {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background: $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.nav__bar__content__link__content svg {
  width: 24px;
  height: 24px;
}
.nav__bar__content__link__content span {
  font-size: 14px;
  color: $textColor;
}
.sidebar__container__content__entry__input:checked
  ~ .nav__bar__content__link__content
  span {
  color: $whiteColor;
}

.sidebar__container__content__entry__input:checked
  ~ .nav__bar__content__link__content {
  background: $primaryColor;
  border-radius: 10px;
}
.sidebar__container__content__entry:hover,
.sidebar__container__content__entry:hover
  .nav__bar__content__link__content__svg__wrapper {
  transition: 300ms ease-in-out;
  background: $primaryColor;
  border-radius: 10px;
}

.sidebar__container__content__entry:hover
  .nav__bar__content__link__content
  span {
  color: $whiteColor;
}
.sidebar__container__content__bottom__line {
  width: 80%;
  height: 2px;
  background: $disabled;
  margin: 4em 0em;
}
.sidebar__container__content__logout svg {
  width: 24px;
  height: 24px;
  margin-right: 1em;
}
.sidebar__container__content__logout span {
  font-size: 14px;
  color: $textColor;
}
.sidebar__container__content__logout {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 6em;
  padding: 1em;
  border-radius: 10px;
}
.sidebar__container__content__logout:hover {
  background: $disabled;
  transition: 300ms ease-in-out;
}
